<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
</head>
<body>
<div id="app3" style="width: 100%;height: auto;text-align: center">

    <h1>{{msg}}</h1>

    <br><br>

    <a href="demo.html">返回主页</a>


    <br><br>

    <form action="">
        员工编号：<input type="text" readonly="readonly" v-model="emp.id"><br><br>
        员工姓名：<input type="text" v-model="emp.name"><br><br>
        员工年龄：<input type="text" v-model="emp.age"><br><br>
        员工薪水：<input type="text" v-model="emp.salary"><br><br>
        <input type="button" @click="update" value="修改用户">
    </form>
</div>


<script>
    var a = new Vue({
        el:"#app3",
        data:{
            msg:"员工信息修改",
            emp:{id:"",name:"",age:"",salary:""}
        },
        methods:{
            update(id) {
                var _this=this;
                axios.put("http://localhost:9090/update",_this.emp).then(function (resp) {
                    alert(resp.data);
                }).catch(function (error) {
                    alert("服务器异常!");
                });
            }
        },
        computed:{},
        created(){
            const _this = this;
            axios.get("http://localhost:9090/selectOne"+location.search).then(function (resp) {
                _this.emp.id=resp.data.id;
                _this.emp.name=resp.data.name;
                _this.emp.age=resp.data.age;
                _this.emp.salary=resp.data.salary;
            }).catch(function (error) {
                alert("服务器异常!");
            });
        }
    })
</script>


</body>
</html>